<cds-modal [open]="this.copyModalFlag" id="copyContainer" (overlaySelected)="closeModal()" (close)="closeModal()">
  <div id="copyParentDiv" #modalpopup tabindex="10">
    <div id="copyDiv" class="copyWrapper crosshair" (mousedown)="handleMouseDown($event)"
      (mouseup)="handleMouseUp($event)"></div>
    <div class="modal-footer unselectable" unselectable="on">
      <div class="container">
        <div class="instruction">
          @if (copyFlag) {
          <p class="mb-0">{{copyInstructionLineOne}}</p>
          }
          @if (copyFlag) {
          <p>{{copyInstructionLineTwo}}
            <mark class="selectbgcolor">{{copyInstruction_bgcolor}}</mark>
          </p>
          }
        </div>
        <div class="px-0">
          <button cdsButton="secondary" size="size" class="copyBtnSize button-corner" (click)="closeModal()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</cds-modal>